<div class=" row">
    <div class=" col-md-6 offset-3 alert-danger text-center mt-6">

        <h2 class=" text-white">Your are not allow to access  this page!</h2>

        <p> Please click the button bellow to redirect to the home page!</p>
        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-success">Home Page</a>
        <hr />
        <p>Thank you !</p>
    </div>


</div>