<div class=" row">
    <div class=" col-md-6 offset-3 alert-success text-center mt-6">

        <h2 class=" text-white">Your account i was created successfully</h2>

        <p> You can now log in to your account using your credentialschek</p>
        <hr/>
        <p>Thank you !</p>
    </div>


</div>
